
<nav class="navbar navbar-dark navbar-expand-lg bg-dark">
    <div class="container-fluid">
        <a [routerLink]="['/home']" class="navbar-brand" >
            <img src="../../../assets/balon.png" alt="Logo" width="24" height="24" class="d-inline-block align-text-top">
            <b class="mx-2">PRODE</b>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" [routerLink]="['/football-table']">Partidos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/groups']">Grupo</a>
                </li>
            </ul>
            <ul *ngIf="logueado; else noLogueado" class="nav navbar-nav navbar-right">
                <li><a class="btn btn-warning mx-3 disabled"><i class="bi bi-person-circle"></i> {{logueado}}</a></li>
                <li><a class="btn btn-outline-danger mx-3" (click)="cerrarSesion()"><i class="bi bi-box-arrow-left"></i> Cerrar sesion</a></li>
            </ul>
            <ng-template #noLogueado>
                <li><a class="btn btn-outline-primary mx-3" [routerLink]="['/sesion']"><i class="bi bi-person-circle"></i> Registrate</a></li>
                <li><a class="btn btn-outline-success mx-3" [routerLink]="['/sesion']"><i class="bi bi-box-arrow-in-right"></i> Inicia sesion</a></li>
            </ng-template>
        </div>
    </div>
</nav>